!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css')
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='http://code.jquery.com/ui/1.8.20/jquery-ui.min.js')
    script(src='http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js')
    script(src='/extensions/jindo/jindo.desktop.min.ns.js')
    script(src='/extensions/jindo/jindo.LazyLoading.js')
    script(src='/extensions/jindo/jindo.Component.js')
    script(src='/extensions/jindo/jindo.UIComponent.js')
    script(src='/extensions/jindo/jindo.Transition.js')
    script(src='/extensions/jindo/jindo.Timer.js')
    script(src='/extensions/jindo/jindo.Effect.js')
    script(src='/extensions/jindo/jindo.FloatingLayer.js')
    script(src='/js/com.iamdenny.js')
    script(src='/js/com.iamdenny.background.js')
    script(src='/js/com.iamdenny.links.js')
    script(src='/js/main.js')
  body#body!= body