!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/extensions/jindo/jindo.desktop.min.ns.js')
    script(src='/extensions/jindo/jindo.LazyLoading.js')
    script(src='/js/com.iamdenny.js')
    script(src='/js/com.iamdenny.background.js')
    script(src='/js/main.js')
  body!= body